@import "./css-reset.scss";

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
  .hidden {
    display: none;
  }
  #clock {
    font-size: 100px;
  }
  #login-form {
    height: 10%;
    width: 70vw;
    font-size: 40px;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    input:first-child {
      width: 50%;
      height: 40px;
      border-radius: 30px;
      padding: 0px 20px;
      border: 2px solid transparent;
    }
    input:last-child {
      width: 20%;
      margin: 10px;
      padding: 10px;
      border: 2px solid #ffffff00;
      border-radius: 30px;
      color: rgb(255, 255, 255);
      background-color: #93754d;
    }
  }
  #clock {
    line-height: 1.3;
  }
  #greeting {
    font-size: 40px;
  }
  #quotes {
    width: 60vw;
    height: 55px;
    padding: 45px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    line-height: 1.5;
    span:last-child {
      padding-top: 20px;
    }
  }
  img {
    position: fixed;
    z-index: -1;
    width: 100vw;
  }
}
